<!-- Login/Register Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalTitle">Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="login_form_template" style="display: none;">
          <%= turbo_frame_tag "login_form" do %>
            <%= render "sessions/login_form" %>
          <% end %>
        </div>
        <div id="register_form_template" style="display: none;">
          <%= render "sessions/register_form" %>
        </div>
      </div>
    </div>
  </div>
</div>