<nav class="navbar navbar-expand-lg" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Ruby Projects</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to 'AQI Search', aqi_search_path, class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </div>
</nav>