# Existing rules
db/schema.rb linguist-generated
vendor/* linguist-vendored
config/credentials/*.yml.enc diff=rails_credentials
config/credentials.yml.enc diff=rails_credentials

# Force Ruby-related files to be included
*.rb linguist-detectable
Gemfile linguist-detectable
Rakefile linguist-detectable

# Deprioritize front-end/template files
*.html linguist-vendored
*.erb linguist-vendored
*.haml linguist-vendored
*.slim linguist-vendored
*.css linguist-vendored
*.js linguist-vendored
*.scss linguist-vendored
*.sass linguist-vendored