<div class="home container-fluid py-5">
  <h2>This page showcases my Ruby on Rails projects.</h2>
  <p>Feel free to explore my Ruby projects with the links in the navigation bar above. If you want to see more of my work checkout the links below.</p>
  <ul>
    <li><a href="https://jarrodwhitley.com">My website</a></li>
    <li><a href="https://bamazon.jarrodwhitley.com">My React e-commerce project</a></li>
  </ul>
</div>