<div class="home container-fluid py-5">
  <h2>This page showcases my Ruby on Rails projects.</h2>
  <div class="project-cards-wrapper d-flex flex-wrap justify-content-left">
    <%= link_to 'AQI Search', aqi_search_path, class: 'card project-card' %>
    <%= link_to 'Twitter Clone', twitter_path, class: 'card project-card' %>
  </div>
  <p class="mt-4">Feel free to explore my Ruby projects or if you want to see more of my work checkout the links below.</p>
  <ul>
    <li><a href="https://jarrodwhitley.com">My website</a></li>
    <li><a href="https://bamazon.jarrodwhitley.com">My React e-commerce project</a></li>
  </ul>
</div>